{% extends 'website/base/base.html' %}
{% load static%}

{% block title %}
    Log in page
{% endblock %}

{% block body %}
<div class="roles">
    <div class="role-container">
        <h1 class="p-5 bg-primary text-white text-center">I am a...</h1>
        <div class="role-box">
            <a href="/NurseHomepage/">
                <img src="{% static '../../static/website/images/nurse.png'%}" alt="nurse">
            </a>
            <br>
            <br>
            <a href="/NurseHomepage/"><button><span>Nurse</span></button></a>
        </div>
        <div class="role-box">
            <a href="/DoctorHomepage/">
            <img src="{% static '../../static/website/images/doctor.png'%}" alt="doctor">
            </a>
            <br>
            <br>
            <a href="/DoctorHomepage/"><button><span>Doctor</span></button></a>
        </div>
        <div class="role-box">
            <a href="/XRayStaffHomepage/">
            <img src="{% static '../../static/website/images/staff.png'%}" alt="staff">
            </a>
            <br>
            <br>
            <a href="/XRayStaffHomepage/"><button><span>X-Ray Staff</span></button></a>
        </div>
        <div class="role-box">
            <a href="/admin/">
            <img src="{% static '../../static/website/images/admin.png'%}" alt="admin">
            </a>
            <br>
            <br>
            <a href="/admin/"><button><span>Admin</span></button></a>
        </div>
    </div>
</div>
{% endblock %}