{% extends 'website/base/basedoctor.html' %}

{% block title %}
    DoctorViewPatientQuestionnaire
{% endblock %}

<!-- context details = i.D_PatientID.CR_BreathingDifficulty, i.D_PatientID.CR_Fever etc-->

{% block body %}

    <form action="/DoctorViewPatientQuestionnaire/{{ i.D_PatientID.CR_PatientID.id }}" method="POST">
        {% csrf_token %}
        <div class ="viewpatient">
            <ul class="horizontal">
                {{ questionnaire.as_p }}
            </ul>
        </div> <div class="butbut">
        <button>Edit</button>
        </div>
    </form>

{% endblock %}