{% extends 'website/base/base.html' %}

{% block title %}
    DoctorHomepage
{% endblock %}

{% block body %}
    <form method="GET">
        {{ nricfilter.form }}
        <button class="" name="search">Search</button>
    </form>

    <form method="GET">
        <button class="" name="reset">Reset</button>
    </form>
    

    <div class="tscroll">
        <table class="content-table">
            <tr class="table-first-row">
                <th>Patient ID</th>
                <th>NRIC</th>
                <th>Name</th>
                <th>Symptom Risk</th>
                <th>X-ray Risk</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
            {% for i in all_patients %}
                {% if i.D_dr_queue %}
                <tr class="table-scroll">
                    <td>{{i.D_PatientID.CR_PatientID.id}}</td>
                    <td>{{i.D_PatientID.CR_PatientID.P_NRIC}}</td>
                    <td>{{i.D_PatientID.CR_PatientID.P_Name}}</td>
                    <td>{{i.D_SymptomRisk}}</td>
                    <td>{{i.D_XRayRisk}}</td>
                    <td>{{i.D_DateTime}}</td>
                    <td>
                        <a href="/DoctorSeePatient/{{ i.D_PatientID.CR_PatientID.id }}"><button>See patient</button></a> 
                        <a href= "/remove_from_dr_queue/{{ i.D_PatientID.CR_PatientID.id }}"><button>Delete patient</button></a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
