{% extends 'website/base/base.html' %}

{% block title %}
    Index
{% endblock %}

{% block main_heading %}
        This is an index page that lists out all the different pages of the website.
{% endblock %}

{% block header_content %}
        This page is hidden from all users.
{% endblock %}

{% block body %}

    <a href="/Homepage/">  Homepage  </a>
        <br>
    <a href="/ForgetPassword/">  ForgetPassword  </a>
        <br>
    <a href="/ChangePassword/">  ChangePassword  </a>
        <br>
    <a href="/admin/">  AdminHomepage  </a>
        <br>



    <a href="/NurseHomepage/">  NurseHomepage  </a>
        <br>
    <a href="/NurseViewPatientProfile/">  NurseViewPatientProfile  </a>
        <br>
    <a href="/NurseViewPatientDiagnosis/">  NurseViewPatientDiagnosis  </a>
        <br>
    <a href="/NurseCaseReport/">  NurseCaseReport  </a>
        <br>
    


    <a href="/DoctorHomepage/">  DoctorHomepage  </a>
        <br>
    <a href="/DoctorSeePatient/">  DoctorSeePatient  </a>
        <br>
    <a href="/DoctorViewPatientQuestionnaire/">  DoctorViewPatientQuestionnaire  </a>
        <br>
    <a href="/XRayStaffHomepage/">  XRayStaffHomepage  </a>
        <br>
    <a href="/XRayStaffXrayPage/">  XRayStaffXrayPage  </a>
        <br>

        
{% endblock %}
