{% extends 'website/base/basenurse.html' %}

{% block title %}
    NurseViewPatientDiagnosis
{% endblock %}

{% block body %}
    <div class="patient-detail">
        <p>Patient name: {{ diag.D_PatientID.CR_PatientID.P_Name }}</p>
        <p>Date: {{ diag.D_DateTime }}</p>
        <p>Temperature range: {{ diag.D_PatientID.CR_FeverTemp }}</p>
        <p>Covid-19 Risk(Symptoms): {{ diag.D_SymptomRisk }}</p>
        <p>Covid-19 Risk(X-Ray): {{ diag.D_XRayRisk }}</p>
        <p>Diagnosis: {{ diag.D_CovidDiagnosis }}</p>
        <p>Medications: {{ diag.D_Medication }}</p>
        {% if diag.D_XRayPicture %}
            <p>X Ray: <img src="{{ diag.D_XRayPicture.url }}" alt="XrayImg"></p>
        {% endif %}
    </div>
    
    <br>
    <div class="back-button">
        <a href="javascript:history.go(-1)"><button>Back</button></a>
    </div>
{% endblock %}