{% extends 'website/base/base.html' %}
    
{% block title %}
    NurseHomepage
{% endblock %}

{% block body %}
<form>
<input type="text" name="search" placeholder="Search..">
</form>
<body>
    <div class="tscroll">
        <table class="content-table">
            <tr class="data-sticky-header">
                <th>Patient ID</th>
                <th>NRIC</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        
            {% for i in all_patients %}
                <tr class="scroll-col">
                    <td>{{i.id}}</td>
                    <td>{{i.P_NRIC}}</td>
                    <td>{{i.P_Name}}</td>
                    <td>{{i.P_Phone}}</td>
                    <td>{{i.P_Email}}</td>
                    <td><a href="/NurseViewPatientProfile/{{ i.P_slug }}"><button>View</button></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <section class="register-patient">
        <h2 style>Register patient</h2>
        <form class="register-form" action="/NurseHomepage/" method="POST">
            {% csrf_token %}
            <ul class="nurse-horizontal">
                {{ patientform.as_p }}
            </ul>
            <div>
                <button class="button2">Register</button>
            </div>
        </form>
    </section>
</body>
{% endblock %}
