{% extends 'website/base/base.html' %}
    
{% block title %}
    NurseHomepage
{% endblock %}

{% block body %}
    <table class="content-table">
        <tr>
            <th>Patient ID</th>
            <th>NRIC</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {% for i in all_patients %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.P_NRIC}}</td>
                <td>{{i.P_Name}}</td>
                <td>{{i.P_Phone}}</td>
                <td>{{i.P_Email}}</td>
                <td><a href="/NurseViewPatientProfile/{{ i.P_slug }}"><button>View</button></a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <section>
        <h2 style>Register patient</h2>
        <form action="/NurseHomepage/" method="POST">
            {% csrf_token %}
            <ul class="horizontal">
                {{ patientform.as_p }}
            </ul>
            <div>
                <button>Register</button>
            </div>
        </form>
        
    </section>
{% endblock %}
