{% extends 'website/base/base.html' %}

{% block title %}
    XRayStaffHomepage
{% endblock %}

{% block body %}
<form>
<input type="text" name="search" placeholder="Search..">
</form>
<div class="tableFixHead">
    <div class="table-wrap">
        <div class="tscroll">
        <table class="content-table">
            <tr>
                <th>ID</th>
                <th>NRIC</th>
                <th>Name</th>
                <th>Covid-19 Symptoms Risk</th>
                <th>Action</th>
            </tr>
            {% for i in all_diagnosis %}
                {% if i.D_xr_queue %}
                    <tr>
                        <td>{{i.D_PatientID.CR_PatientID.id}}</td>
                        <td>{{i.D_PatientID.CR_PatientID.P_NRIC}}</td>
                        <td>{{i.D_PatientID.CR_PatientID.P_Name}}</td>
                        <td>{{i.D_XRayRisk}}</td>
                        <td><a href="/XRayStaffXrayPage/{{ i.D_PatientID.CR_PatientID.id }}"><button>Take X-Ray</button></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    </div>
</div>
{% endblock %}