{% load static %}

<style>

.content-table table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.content-table td, .content-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.content-table tr:nth-child(even){background-color: #f2f2f2;}

.content-table tr:hover {background-color: #ddd;}

.content-table th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.horizontal li{
    display: inline;
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'website/styles/base.css' %}">
</head>
<body>
    <header id="main-header">
        <nav>
            <a href="/Homepage" id="main-logo">X Ray Co</a>
            <a href="/Homepage">
                <button type="button" class="logout">Log out</button>
            </a>
        </nav>
        <h1>{% block main_heading %}{% endblock %}</h1>
        <p>{% block header_content %}{% endblock %}</p>
    </header>
    {% block body %}{% endblock %}
</body>
</html>