@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color:#dce6f0;
  color: #0f0f0f;
}

.role-container{
  
  background: #f1f7fd;
  padding: 0px 0 60px;
}
.role-container h1{
  text-align: center;
  position: relative;
}
.role-box {
  float: left;
  width: 25%;
  padding: 30px 30px 25px 30px;
  position: relative;
  text-align: center;
  background: #fff;
}
.role-box button{
  border-radius: 4px;
  background-color: rgb(118, 156, 240);
  border: none;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}
.role-box button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.role-box button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.role-box button:hover span {
  padding-right: 25px;
}

.role-box button:hover span:after {
  opacity: 1;
  right: 0;
}

.register-patient{
  border: 2px solid;
  width: 400px;
  text-align: center;
}
.register-patient ul{
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #222224;
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #350490;
  border: 1px solid #350490;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #230161;
  border-color: #230161;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {
    font-size: 4rem;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #350490;
    font-weight: bold;
}

#logout {
  position: relative;
}
#logout img {
  position: absolute;
  top: 0px;
  right: 0px;
}


